<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd"
	default-lazy-init="false">
	
	<context:property-placeholder ignore-resource-not-found="true" location="classpath*:/application.properties" />
	
	<bean id="jedisPool" class="com.whtriples.airPurge.redis.pool.JedisPool">
		<constructor-arg>
			<bean class="com.whtriples.airPurge.redis.pool.ConnectionInfo">
				<constructor-arg value="${redis.host}" />
				<constructor-arg value="${redis.port}" />
				<constructor-arg value="${redis.timeout}" />
				<constructor-arg value="${redis.database}" />
			</bean>
		</constructor-arg>
		<constructor-arg>
			<bean class="redis.clients.jedis.JedisPoolConfig">
				<property name="maxTotal" value="${redis.maxTotal}" />
				<property name="maxIdle" value="${redis.maxIdle}" />
				<property name="minIdle" value="${redis.minIdle}" />
			</bean>
		</constructor-arg>
	</bean>
	
	<bean id="jedisTemplate" class="com.whtriples.airPurge.redis.JedisTemplate">
		<constructor-arg ref="jedisPool" />
	</bean>
	
	
	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod" value="com.whtriples.airPurge.cache.CaptchaCache.init" />
		<property name="arguments">
			<list>
				<ref bean="jedisTemplate" />
			</list>
		</property>
	</bean>
	
	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod" value="com.whtriples.airPurge.cache.TokenCache.init" />
		<property name="arguments">
			<list>
				<ref bean="jedisTemplate" />
			</list>
		</property>
	</bean>
</beans>